body {
    margin: 0;
}
.top {
    background-color: #8eba01;
    position: relative;
    margin: 0%;
    padding: 15px;
    padding-left: 90%;
}
.bot {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
}
nav {
    background-color: #8eba01;
    position: relative;
    margin: 0%;
    padding: 20px;
}
nav a {
    color: white
}
footer div {
    background-color: #fbfcf7;
    position: relative;
    margin: 0%;
    padding: 100px;
}
footer p {
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

a:hover {
  padding: 10px;
  text-decoration: underline;
}

        